@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">
    Welcome to CinemaWebApp!
</h1>
<p class ="text-center">
    Discover the best cinemas and movies tailored to your entertainment.
    </p>
    <hr></hr>
<div class="bg-dark text-white text-center py-5">
    <div class="container">
        <h2 class="display-5 fw-bold">Your Gateway to the World of Cinema</h2>
        <p class="mb-4">Find your favourite cinemas, explore top movies, and keep track of what you love.</p>
        <a href="/Cinema"class="btn btn-primary btn-lg mx-2">Explore Cinemas</a>
        <a href="/Movie" class="btn btn-primary btn-lg mx-2">Explore Movies</a>
    </div>
</div>