body {
    background-color: rgb(238, 238, 238);
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
}
li{
    background-color:white;
    width:30%;
    height:auto;
    position:relative;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
footer{
    position:absolute;
    bottom:0;
}