html{
    box-sizing:border-box;
}
div{
    display:flex;
    max-width:65vw;
    margin:0 auto;
}
section {
    display: flex;
    flex-wrap: wrap;
}
span{
    border:1px solid black;
    text-align:center;
    flex-grow:1;
}
span:nth-child(1),span:nth-child(7){
    flex: 1 1 100%;
}
