body {
    background-color: rgb(238, 238, 238);
   
}
header {
   font-family: Georgia, serif;
   font-size:1em;
   line-height:1.2;
}
blockquote {
    font-family: Georgia, serif;
}
.nav a{
    text-align:right;
    color:green;
    text-decoration:none;
    padding:1em;
}
.header-site {
    padding-bottom:2em;
    border-bottom: solid 3px black;
}
.img1 {
    float: right;
    border: solid 3px black;
    padding: 5px;
    margin: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255);
}
aside{
    float:right;
    margin:2em;
}
a {
    text-decoration: none;
    color:green;
}
main{
    width:80%;
}
body{
    margin:3em;
}
blockquote{
    border-left: 3px solid gray;
    float:right;
    color:gray;
    font-style:italic;
    width:60%;
    padding:10px;
}
footer{
    text-align:right;
}
.img2 {
    float: left;
    border: solid 3px black;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255);
    padding: 5px;
    margin: 1em;
}